pkgbase = sshfling
	pkgdesc = Temporary SSH certificate issuer and access CLI
	pkgver = 0.1.11
	pkgrel = 1
	url = https://grwlx.github.io/sshfling
	arch = any
	license = LicenseRef-SSHFling-Commercial
	depends = python
	depends = openssh
	depends = shadow
	depends = procps-ng
	depends = util-linux
	optdepends = docker: Docker Compose test harness
	backup = etc/sshfling/policy.json
	source = sshfling-0.1.11.tar.gz::https://grwlx.github.io/sshfling/downloads/sshfling-0.1.11.tar.gz
	sha256sums = 324db74ac9f35977c89fe2922ace7609251915fc2e9b67e468d8f56e6f4ecef8

pkgname = sshfling
